<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='alerts.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

<body>

    <div class="bg-img">
        <h1>
        <a href="{{ url_for('user.home')}}"> 
            <img src="{{url_for('static', filename='epoolLogo.png')}}" width = 150> 
            </a>
        </h1>
        <!-- <p class="ex1">Craigslist Uber!</p> -->
        <div class="topnav" id = "myTopnav">
        <a href="{{ url_for('user.home')}}">Home</a>
        <a href="{{ url_for('ticket.ticket')}}">Tickets</a>
        <a href="{{ url_for('profile.profile')}}">Profile</a>
        <a href="{{ url_for('user.friends')}}" class="active">Friends</a> 
        <div class="subnav">
        <button class="subnavbtn">More 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('user.logout')}}">Logout</a>
            {% else %}
                <a href="{{ url_for('user.create_account')}}">Create Account</a>
                <a href="{{ url_for('user.login')}}">Login</a>
            {% endif %}
        </div>
        </div> 
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    
        <div class= "container2" style="padding-left:16px" id="insideText">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, msg in messages %}
                      <div class="{{ category }}">{{msg}} <span class="close" onclick="this.parentElement.style.display='none';">×</span> </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
    
            <h2>Friends</h2>
            {% for user in the_friends %}
                <a href="{{ url_for('profile.other', username=user )}}">{{user}}</a>
            {% endfor %}

            <h2>Blocked</h2>
            {% for user in block_list %}
                <a href="{{ url_for('profile.other', username=user )}}">{{user}}</a>
            {% endfor %}

            <h2>Other Users</h2>
            {% for user in the_others %}
                {% if user != current_user.username %}
                    <a href="{{ url_for('profile.other', username=user )}}">{{user}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
        x.className += " responsive";
        } else {
        x.className = "topnav";
        }
    }
    </script>
    
</body>

</html>