{% block title %}Profile Page{% endblock %}

{% block user %}<p>User {{email if email}}</p>{% endblock %}

{%block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<form action="{{ url_for('user.logout')}}">
    <input type="submit" value="Logout" />
</form>
<form action="{{ url_for('user.home')}}">
    <input type="submit" value="Home" />
</form>
{% endblock %}