{% block title %}Create an Account{% endblock %}
{%block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <p>Register:</p>
    <p><input type ="email" name="email" placeholder="Enter Email"/></p>
    <p><input type ="submit" value="Submit" /></p>
</form>
<form action="{{ url_for('user.home')}}">
    <input type="submit" value="Home" />
</form>
{% endblock %}