<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='Ticketmain.css')}}">

<div class="bg-img">

    <a href="{{ url_for('Ticket.Ticketmain')}}"> 
      <img src="{{url_for('static', filename='epoolLogo.png')}}" width = 150> 
      </a> 
  
      <form action="#" class="container" method = "post">
        <button class="button">Create a Ticket</button>
        <button class="button">Delete a Ticket</button>
        <button class="button">Modify a Ticket</button>
        
        <div class="alert-error">
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for msg in messages %}
                      <p>{{msg}} <span class="close" onclick="this.parentElement.style.display='none';">×</span> </p>
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </div>
</div>

