<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='alerts.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

<style>
    .btn {
    background-color: #045daa; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 12px;
  }
</style>

<body>

    <div class="bg-img">
        <h1>
        <a href="{{ url_for('user.home')}}"> 
            <img src="{{url_for('static', filename='epoolLogo.png')}}" width = 150> 
            </a>
        </h1>
        <div class="topnav" id = "myTopnav">
        <a href="{{ url_for('user.home')}}">Home</a>
        <a href="{{ url_for('ticket.ticket')}}" class="active">Tickets</a>
        <a href="{{ url_for('profile.profile')}}">Profile</a>
        <a href="{{ url_for('user.friends')}}">Friends</a>
        <div class="subnav">
        <button class="subnavbtn">More 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('user.logout')}}">Logout</a>
            {% else %}
                <a href="{{ url_for('user.create_account')}}">Create Account</a>
                <a href="{{ url_for('user.login')}}">Login</a>
            {% endif %}
        </div>
        </div> 
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    
    <div style="padding-left:16px" id="insideText">
        <h2>E-Pool Tickets</h2>
        <form action="{{ url_for('ticket.create_ticket')}}">
            <button type="submit" class="btn">Create Ticket!</button>
        </form>
       
        </form>
        <p>
        {% for post in posts %}
        {% if post.author == current_user.username %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('profile.profile')}}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('ticket.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            {{post.likes | length }}
            <a href = "/like-post/{{post.id}}"><i class="fas fa-thumbs-up"></i></a>
          </div>
        </article>
        {% endif %}
    {% endfor %}
        </p>
       
    </div>
    </div>

    <script src="https://kit.fontawesome.com/fdfd140beb.js" crossorigin="anonymous"></script>

    <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
        x.className += " responsive";
        } else {
        x.className = "topnav";
        }
    }
    </script>
    
</body>

</html>